name: say-hello
# on - определяет события, которые запускают workflow
on: push
jobs:
  # build - произвольно выбранное имя задания
  # их может быть больше одного
  build:
    # операционная система для работы workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make say-hello
      - run: ls -la
      - uses: hexlet-components/hello-from-hexlet-action@release
